<h3 class="light">Наши контакты</h3>
<ul class="contact-us">
    <li>
        <i class="fa fa-phone"></i>
        <p><strong>Телефон:</strong>  +38 (067) 696-59-94</p>
    </li>
    <li>
        <i class="fa fa-envelope"></i>
        <p><strong>Email:</strong><a href="mailto:bionetvip@gmail.com">bionetvip@gmail.com</a></p>
    </li>
</ul>