<!-- Registration Modal -->
<div class="modal register fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="form-signin-heading modal-title" id="registrationModalLabel">Create a new account</h2>
            </div>
            <form method="post" id="registration">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" value="" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" value="" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" value="" class="form-control" placeholder="E-mail Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="password" value="" class="form-control" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <input type="password" value="" class="form-control" placeholder="Re-enter Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-color">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Registration Modal -->