@using Bionet4.Properties
@using Bionet4.ViewModels
@model OrderViewModel
@{
    ViewBag.Title = Resources.OrderTitle;
    ViewBag.Description = Resources.OrderSubtitle;
}

<section id="main">

    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->

    <div class=" alert-success alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Resources.OrderSuccess
    </div>

</section>