@using Bionet4.ViewModels
@model EventsViewModel
@{
    ViewBag.Title = "Events";
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- Main Content -->
    @Html.Partial("_EventsPartial", Model.Events)
    <!-- /Main Content -->
</section>