@using Bionet4.ViewModels
@model ProductDetailsViewModel
@{
    ViewBag.Title = Model.Product.Name;
    ViewBag.Description = Model.Product.Description;
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- single product -->
    @Html.Partial("_ProductDetailsPartial", Model.Product)
    <!-- / single product -->
</section>