@using Bionet4.ViewModels
@model ProductsViewModel
@{
    ViewBag.Title = Model.Intro.Name;
    ViewBag.Description = Model.Intro.Description;
}

<section id="main">
    <!-- products -->
    @Html.Partial("_IntroPartial", Model.Intro)
    @Html.Partial("_ProductsPartial", Model.Products)
    <!-- / products -->
</section>