@using Bionet4.ViewModels
@using Bionet4.Properties
@model ProductsViewModel
@{
    ViewBag.Title = Resources.Products;
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- products -->
    @Html.Partial("_ProductsPartial", Model)
    <!-- / products -->
</section>