@using Bionet4.Properties
@model Bionet4.ViewModels.ArticlesViewModel
@{
    ViewBag.Title = Resources.Articles;
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- Main Content -->
    @Html.Partial("_ArticlesPartial", Model.Articles)
    <!-- /Main Content -->
</section>