@using Bionet4.Properties
@{
    ViewBag.Title = Resources.Articles;
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- Main Content -->
    <div class="content-about margin-top60">
        <div class="container">
            <div class="row">
                <div class="welcome col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <h3><a href="/Articles/Business">Статьи o Бизнесе</a></h3>
                    <h3><a href="/Articles/Products">Статьи o Продукции</a></h3>
                    <p></p>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->
</section>