@using Bionet4.ViewModels
@model FaqViewModel
@{
    ViewBag.Title = "FAQ";
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- Main Content -->
    @Html.Partial("_FaqPartial", Model.Faq)
    <!-- /Main Content -->
</section>