@using Bionet4.ViewModels
@model FaqViewModel
@{
    ViewBag.Title = Model.Intro.Name;
    ViewBag.Description = Model.Intro.Description;
}

<section id="main">
    <!-- Main Content -->
    @Html.Partial("_IntroPartial", Model.Intro)
    @Html.Partial("_FaqPartial", Model.Faq)
    <!-- /Main Content -->
</section>