@using Bionet4.ViewModels
@model IngredientsViewModel
@{
    ViewBag.Title = "Ingredients";
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- Main Content -->
    @Html.Partial("_IngredientsPartial", Model.Ingredients)
    <!-- /Main Content -->
</section>