@using Bionet4.ViewModels
@model AlbumsViewModel
@{
    ViewBag.Title = Model.Intro.Name;
    ViewBag.Description = Model.Intro.Description;
}

<section id="main">
    <!-- header -->
    @Html.Partial("_HeaderPartial")
    <!-- / header -->
    <!-- Main Content -->
    @Html.Partial("_IntroPartial", Model.Intro)
    @Html.Partial("_AlbumsPartial", Model.Albums)
    <!-- /Main Content -->
</section>