@using Bionet4.Properties
@using Bionet4.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = Resources.HomePageTitle;
    ViewBag.Description = Resources.HomePageDescription;
}

<section id="main">
    <!-- Slider -->
    @Html.Partial("_SliderPartial", Model.Sliders)
    <!-- Slider -->
    <!-- Main Content -->
    @Html.Partial("_ArticleThumbsPartial", Model.Thumbs)
    <!-- /Main Content -->
    <!-- Product Content -->
    @*@Html.Partial("_ProductHighlights", Model.ProductHighlights)*@
    <!-- /Product Content -->
</section>