@using Bionet4.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Description = "Home Page";
}

<section id="main">
    <!-- Slider -->
    @Html.Partial("_SliderPartial", Model.Sliders)
    <!-- Slider -->
    <!-- Main Content -->
    @Html.Partial("_ArticleThumbsPartial", Model.ActicleThumbs)
    <!-- /Main Content -->
    <!-- Product Content -->
    @Html.Partial("_ProductHighlights", Model.ProductHighlights)
    <!-- /Product Content -->
</section>